@charset "utf-8";

/* CSS Document */
body{
	font-size: small;
}
img[alt="save"]{
	padding-bottom: 10%;
}
div[class~="col-2"] label{
	margin-top: 5px;
}
.nav-tabs .nav-link.active{

	color: #557463;

	background-color: #fff;

	border-color: #fff;

}

.nav-link{
	color: 	#294f3a;
	background-color: #cff0e8;
	
}
.nav-link:hover{
	color: #557463;
	background-color: #ebf7f4;
	
}

.nav-tabs .nav-link{

	border-radius: 0 !important;

}

div .badge{

	height: 90%;

	background-color: transparent;

}

.badge:hover{

	background-color: aliceblue;

	cursor: pointer;

}

#tab-content{

	background-color: white;
	height: 85%;
	position: fixed;
	width: 97%;
	overflow-x: hidden;
}

#ltd-action{

	margin: 5px 0;

    height: 30px;

}

#ltd-action div{

	height: inherit;

}

#document, #history{

	height: 390px;

}
#document label{
	width: 20%;
}
#document input[type="text"],#document select{
	width: 70%;	
	height: 20px;
	display: inline-block;
}
#document select{
	font-size: smaller;
	padding: 0;
}
#document div{
	margin-right: 2px;
}
#document div div{
	margin: 3px auto;
}
#document div[class="col-6"] label{
	width: 9.5%;	
}
#document div[class="col-6"] input{
	width: 86%;	
}
#main-content{
	position: fixed;
	width: 100%;
	height: 100%;
}
#sub-content{
	position: fixed;
	margin-top: 37px;
}
#ltd-precode{
	margin-bottom: 0.25%;
}

#turnover{
	margin: 5px 5px auto 10px;
}
#turnover td, #turnover th{
	border: 1px solid #294f3a;
}
#turnover thead tr{
	height: 15px;
	background-color: #cde7f1;
}
#turnover tbody td{
	font-size: large;
}